@import 'variables';

html,
body,
.container {
    height: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        #profile {
            color: $twitter-blue;
            font-weight: 100;
        }
    }
}